* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    background: rgb(87, 189, 130);
    position: relative;
}

.filed_name,
.filed_email,
.filed_password,
.filed_fished {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.filed_name input,
.filed_email input,
.filed_password input,
.filed_fished {
    background: none;
    border: none;
    flex: 1;
    height: 100%;
    outline: none;
}

.filed_name i,
.filed_email i,
.filed_password i,
.filed_fished {
    padding: 10px;
    cursor: pointer;
}

div.inactive {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 50%);
}

div.active {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%);
}